body {
   background-color: #dfe6de; 
   color: #021801;
   border: 4px solid #021801;
}
#header {height: 180px;}
#header img {width: 100%; height: 180px;}
/*
#menudiv {background-color: #021801;
font-family: 'Lucida Calligraphy'; font-size: 2rem; text-align: center;}
#menudiv a { color: #dfe6de; 
padding: 5px; text-decoration: none; margin: 10px; clear: both;
}
#menudiv a:hover{color: #021801; background-color:#e2c576; }    
*/
#inprogress {
    margin: 2%; padding: 20px; background-color: #d1dccf; 
    box-shadow: 2px 2px 5px #021801 ; 
    text-align: center;
}

#contact {
  margin-bottom: 10px;
  padding: 0 15 15 15px; 
  background-color: #d1dccf; 
    box-shadow: 2px 2px 5px #021801 ; 
}
#contact > strong {padding: 5px; margin:5px 25px;}
#contact img {float: left; width: 35px;}
#contact span {padding: 10px; text-align: center;}
#contact > div{border: 2px groove #dfe6de; padding: 5px ; height: 178px;}
.contact-text {line-height: 35px;}
footer{background-color:#021801; margin-top: 10px; line-height: 40px;
    color: #dfe6de; text-align: right;
}
footer img {width: 30px; float: left; margin-left: 10px;}
#copyright {clear: both; margin: 10px; margin-right: 20px; line-height: 2; } 
#copyright a {text-decoration:none; color: #5076f5f5;}
