body {
    background-color: rgba(28, 3, 68, 0.932);
    color: rgba(240, 174, 88, 0.904);
}
div {margin: 10%; padding: 20px; border: 3px groove rgba(240, 174, 88, 0.904);
text-align: center;}
body h1{ text-align: cente; font-size: 40px;}